:root {
	--color-highlight-yellow: #e2b704;
	--color-text-highlight-yellow: #5c4a02;
	--color-surface-highlight-yellow: #e6b904;
	--color-selection-highlight-yellow: #8f7300;

	--color-highlight-green: #6ab759;
	--color-text-highlight-green: #2c5427;
	--color-surface-highlight-green: #6ed261;
	--color-selection-highlight-green: #3c862c;

	--color-highlight-pink: #e589c3;
	--color-text-highlight-pink: #5e364e;
	--color-surface-highlight-pink: #ea86c2;
	--color-selection-highlight-pink: #af5089;

	--color-highlight-purple: #ae81e0;
	--color-text-highlight-purple: #503966;
	--color-surface-highlight-purple: #c78eff;
	--color-selection-highlight-purple: #9159c7;

	--color-highlight-blue: #5fbfe6;
	--color-text-highlight-blue: #244d5c;
	--color-surface-highlight-blue: #59c0e7;
	--color-selection-highlight-blue: #307b98;

	--color-highlight-grey: #999999;
	--color-text-highlight-grey: #444444;
	--color-surface-highlight-grey: #aaaaaa;
	--color-selection-highlight-grey: #555555;

	--color-highlight-charcoal: #434343;
	--color-text-highlight-charcoal: #c6c6c6;
	--color-surface-highlight-charcoal: #454545;
	--color-selection-highlight-charcoal: #555555;

	--color-text-0: #ffffff;
	--color-text-1: #ededed;
	--color-text-2: #c1c1c1;
	--color-text-3: #8b8b8b;
	--color-surface-0: #202020;
	--color-surface-1: #333333;
	--color-surface-2: #454545;
	--color-text-hint: #ffffff;
	--color-surface-hint: #2b2b2b;

	--border-radius-hint: 2px;
	--padding-hint: 6px;

	--color-surface--1: #171717;
	--color-text-link: #53cdff;
	--color-text-primary: #0c0b06;
	--color-surface-primary: #60cdff;

	--size-content-1: 50rem;
	--whitespace-1: 5px;
	--whitespace-2: 10px;
	--whitespace-3: 15px;
	--whitespace-4: 20px;
	--whitespace-5: 30px;

	--border-radius-1: 4px;
	--border-radius-2: 8px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:where(button, textarea, input) {
	font: inherit;
}

:where(ul) {
	padding-inline-start: 0;
	list-style: none;

	li {
		--bullet-size: 1em;
		position: relative;
		padding-inline-start: var(--bullet-size);

		&::before {
			content: '';
			background: currentColor;
			width: var(--bullet-size);
			height: var(--bullet-size);
			position: absolute;
			inset-inline-start: 0%;
			inset-block-start: 0.5lh;
			translate: 0% -45%;
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-4 -4 8 8"><circle r="4"/></svg>');
			mask-size: 33%;
			mask-position: 50% 50%;
			mask-repeat: no-repeat;
		}
	}
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

body {
	font-family: system-ui;
	color: var(--color-text-0);
	background: var(--color-surface--1);
	min-block-size: 100svb;
}

.button {
	text-decoration: none;
	padding: var(--whitespace-2) var(--whitespace-5);
	color: var(--color-text-0);
	background: var(--color-surface-1);
	border-radius: var(--border-radius-1);
	border: none;

	&.primary {
		color: var(--color-text-primary);
		background: var(--color-surface-primary);
	}
}

.link {
	color: var(--color-text-link);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.region {
	padding-block: 25svb;
}

.center {
	max-inline-size: var(--size-content-1);
	margin-inline: auto;
	padding-inline: var(--whitespace-4);

	& > * + * {
		margin-block-start: var(--whitespace-5);
	}
}

.panel {
	padding: var(--whitespace-4) var(--whitespace-5);
	background: var(--color-surface-0);
	border-radius: var(--border-radius-2);

	> * + * {
		margin-block-start: var(--whitespace-2);
	}

	h2 + * {
		margin-block-start: var(--whitespace-4);
	}

	h2 {
		color: var(--color-text-0);
		font-weight: 600;
		font-size: 1.2em;
		padding-block-end: var(--whitespace-3);
		border-block-end: 1px solid var(--color-surface-2);
	}

	p {
		color: var(--color-text-1);
		line-height: 1.5;
		font-size: 0.9em;
	}
}

.app {
	--notes-list-inline-size: 400px;
	--notes-list-block-size: 600px;
	--note-inline-size: 280px;
	--note-block-size: 260px;
	max-inline-size: 1200px;
	margin-inline: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
	padding: 20px;
	gap: 15px;

	.notes-list {
		grid-column: 1;
		grid-row: 1 / 4;
	}

	.note {
		grid-column: 2;

		&:nth-of-type(1) {
			grid-row: 1;
			justify-self: start;
		}

		&:nth-of-type(2) {
			justify-self: end;
			grid-row: 2;
		}

		&:nth-of-type(3) {
			grid-row: 3;
		}
	}

	@media (max-width: 850px) {
		grid-template-columns: 1fr;
	}

	@media (max-width: 750px) {
		display: flex;
		flex-direction: column;

		.notes-list {
			block-size: unset;
			padding-block-end: 100px;
			inline-size: 100%;
			max-inline-size: var(--notes-list-inline-size);
		}

		.note {
			inline-size: 100%;
			max-inline-size: var(--note-inline-size);
		}
	}
}

.notes-list {
	inline-size: var(--notes-list-inline-size);
	block-size: var(--notes-list-block-size);
	--button-size: 38px;
	--border-radius-window: 10px;
	--border-radius-article: 2px;
	--padding-window: 12px;
	--padding-article: 10px;
	--padding-button: 9px;
	--gap-0: 2px;
	--gap-1: 10px;
	--gap-2: 14px;
	--size-content-1: 140px;
	--size-content-2: 220px;

	user-select: none;
	color: var(--color-text-0);
	background: var(--color-surface-0);
	border-radius: var(--border-radius-window);
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--color-surface-2) transparent;

	padding: var(--padding-window);

	& > * + * {
		margin-block-start: var(--gap-1);
	}

	h1 + * {
		margin-block-start: var(--gap-2);
	}

	h1 {
		font-size: 1.2rem;
	}
}

.notes-list--note {
	font-size: 0.9em;
	padding: var(--padding-article);
	padding-block-end: calc(var(--padding-article) * 2);
	color: var(--color-text-1);
	background: var(--color-surface-1);
	border-radius: var(--border-radius-article);
	border-block-start: 3.5px solid var(--color-highlight, var(--color-surface-2));

	& > * + * {
		margin-block-start: var(--gap-0);
	}

	& > time {
		font-size: 0.8em;
		display: block;
		text-align: end;
		color: var(--color-text-highlight, inherit);
	}

	& > div {
		max-block-size: 5lh;
		overflow: hidden;
	}

	&:focus {
		outline: none;
	}

	&:is(:hover, :focus) {
		background: var(--color-surface-2);
	}

	&.open {
		position: relative;
		clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 1em), calc(100% - 1em) 100%, 0% 100%);
		&::after {
			position: absolute;
			content: '';
			width: 1em;
			height: 1em;
			background: currentColor;
			inset-inline-end: 0;
			inset-block-end: 0;
			opacity: 0.2;
		}
	}

	&[data-color='yellow'] {
		--color-highlight: var(--color-highlight-yellow);
		--color-text-highlight: var(--color-highlight-yellow);
	}

	&[data-color='green'] {
		--color-highlight: var(--color-highlight-green);
		--color-text-highlight: var(--color-highlight-green);
	}

	&[data-color='pink'] {
		--color-highlight: var(--color-highlight-pink);
		--color-text-highlight: var(--color-highlight-pink);
	}

	&[data-color='purple'] {
		--color-highlight: var(--color-highlight-purple);
		--color-text-highlight: var(--color-highlight-purple);
	}

	&[data-color='blue'] {
		--color-highlight: var(--color-highlight-blue);
		--color-text-highlight: var(--color-highlight-blue);
	}

	&[data-color='grey'] {
		--color-highlight: var(--color-highlight-grey);
		--color-text-highlight: var(--color-highlight-grey);
	}

	&[data-color='charcoal'] {
		--color-highlight: var(--color-highlight-charcoal);
		--color-text-highlight: var(--color-text-3);
	}
}

.note {
	inline-size: var(--note-inline-size);
	block-size: var(--note-block-size);
	--button-size-1: 28px;
	--button-size-2: 32px;
	--border-radius-ui: 10px;
	--border-radius-button: 10px;
	--border-radius-hint: 2px;
	--padding-ui: 8px;
	--padding-button: 6px;
	--padding-hint: 6px;

	--color-text-1: #ededed;
	--color-text-2: #c1c1c1;
	--color-surface-1: #333333;
	--color-surface-2: #454545;
	--color-text-hint: #ffffff;
	--color-surface-hint: #2b2b2b;
	--color-text-highlight: var(--color-text-highlight-yellow);
	--color-surface-highlight: var(--color-surface-highlight-yellow);
	font-size: 0.9rem;

	color: var(--color-text-1);
	background: var(--color-surface-1);
	border-radius: var(--border-radius-ui);
	display: flex;
	flex-direction: column;

	> .note--mid {
		flex-grow: 1;
		block-size: 100%;
		overflow-y: auto;
		scrollbar-width: thin;
		scrollbar-color: var(--color-surface-2) transparent;
	}

	&[data-color='yellow'] {
		--color-text-highlight: var(--color-text-highlight-yellow);
		--color-surface-highlight: var(--color-surface-highlight-yellow);
	}

	&[data-color='green'] {
		--color-text-highlight: var(--color-text-highlight-green);
		--color-surface-highlight: var(--color-surface-highlight-green);
	}

	&[data-color='pink'] {
		--color-text-highlight: var(--color-text-highlight-pink);
		--color-surface-highlight: var(--color-surface-highlight-pink);
	}

	&[data-color='purple'] {
		--color-text-highlight: var(--color-text-highlight-purple);
		--color-surface-highlight: var(--color-surface-highlight-purple);
	}

	&[data-color='blue'] {
		--color-text-highlight: var(--color-text-highlight-blue);
		--color-surface-highlight: var(--color-surface-highlight-blue);
	}

	&[data-color='grey'] {
		--color-text-highlight: var(--color-text-highlight-grey);
		--color-surface-highlight: var(--color-surface-highlight-grey);
	}

	&[data-color='charcoal'] {
		--color-text-highlight: var(--color-text-highlight-charcoal);
		--color-surface-highlight: var(--color-surface-highlight-charcoal);
	}

	&[hidden] {
		visibility: hidden;
		opacity: 0;

		@media (max-width: 750px) {
			display: none;
		}
	}
}

.note--start {
	--button-size: var(--button-size-2);
	border-start-start-radius: var(--border-radius-ui);
	border-start-end-radius: var(--border-radius-ui);
	color: var(--color-text-highlight);
	background: var(--color-surface-highlight);
	display: flex;
	align-items: center;
	justify-content: end;
}

.note--editor {
	font-size: 1.05em;
	padding: var(--padding-ui);
	line-height: 1.5;

	&:focus {
		outline: none;
	}

	&:empty::before {
		content: attr(placeholder);
		color: var(--color-text-2);
	}

	&::selection {
		color: var(--color-text-1);
		background: oklch(from var(--color-selection, var(--color-surface-2)) l c h / 0.7);
	}

	[data-color='yellow'] & {
		--color-selection: var(--color-selection-highlight-yellow);
	}

	[data-color='green'] & {
		--color-selection: var(--color-selection-highlight-green);
	}

	[data-color='pink'] & {
		--color-selection: var(--color-selection-highlight-pink);
	}

	[data-color='purple'] & {
		--color-selection: var(--color-selection-highlight-purple);
	}

	[data-color='blue'] & {
		--color-selection: var(--color-selection-highlight-blue);
	}

	[data-color='grey'] & {
		--color-selection: var(--color-selection-highlight-grey);
	}

	[data-color='charcoal'] & {
		--color-selection: var(--color-selection-highlight-charcoal);
	}
}

.icon-button {
	--_button-size: var(--button-size, 26px);
	width: var(--_button-size);
	height: var(--_button-size);
	padding: var(--padding-button, 6px);
	border: none;
	background: none;
	color: inherit;

	& > svg {
		display: block;
		width: 100%;
		height: 100%;
	}

	&:hover {
		background: oklch(from currentColor l c h / 0.1);
	}

	position: relative;

	&[aria-pressed='true']::before {
		content: '';
		position: absolute;
		inset: 0;
		background: oklch(from currentColor l c h / 0.1);
	}

	&[aria-label]::after {
		pointer-events: none;
		content: attr(aria-label);
		position: absolute;
		font-size: 0.8em;
		color: var(--color-text-hint);
		background: var(--color-surface-hint);
		inline-size: max-content;
		padding: var(--padding-hint);
		border-radius: var(--border-radius-hint);
		opacity: 0;
		transition: opacity 0.275s ease-in-out;
	}

	&:not([data-anchor])::after,
	&[data-anchor='top']::after {
		inset-inline-start: 50%;
		inset-block-end: 100%;
		translate: -50% -1px;
	}

	&[data-anchor='top left']::after {
		inset-inline-start: 0%;
		inset-block-end: 100%;
		translate: 1px -1px;
	}

	&[data-anchor='top right']::after {
		inset-inline-end: 0%;
		inset-block-end: 100%;
		translate: -1px 1px;
	}

	&[data-anchor='bottom']::after {
		inset-inline-start: 50%;
		inset-block-start: 100%;
		translate: -50% 1px;
	}

	&[data-anchor='bottom left']::after {
		inset-inline-start: 0%;
		inset-block-start: 100%;
		translate: 1px 1px;
	}

	&[data-anchor='bottom right']::after {
		inset-inline-end: 0%;
		inset-block-start: 100%;
		translate: -1px 1px;
	}

	&:hover::after {
		transition-delay: 1s;
		opacity: 1;
	}
}
